# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [36]:
import pandas as pd

In [42]:
census = pd.read_csv("/home/priyank/Downloads/FULL_TENSORFLOW_NOTES__AND_DATA/Tensorflow-Bootcamp-master/02-TensorFlow-Basics/census_data.csv")

In [43]:
census

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [44]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [45]:
census.income_bracket = census.income_bracket.apply(lambda x : 1 if x == " >50K" else 0)

In [46]:
census

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,1
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1
10,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,1
11,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,1
12,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,0
13,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,0
14,40,Private,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,1
15,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,0
16,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,0
17,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,0
18,38,Private,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,0
19,43,Self-emp-not-inc,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,1
20,40,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
21,54,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,0
22,35,Federal-gov,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,0
23,43,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,0
24,59,Private,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,0
25,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,1
26,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,0
27,54,?,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,1
28,39,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,0
29,49,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,0
32532,34,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
32533,54,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,1
32534,37,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,0
32535,22,Private,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,0
32536,34,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,1
32537,30,Private,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,0
32538,38,Private,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,1
32539,71,?,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,1
32540,45,State-gov,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,0
32541,41,?,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,0
32542,72,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,0
32543,45,Local-gov,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,0
32544,31,Private,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,0
32545,39,Local-gov,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,1
32546,37,Private,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
32547,43,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,0
32548,65,Self-emp-not-inc,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,0
32549,43,State-gov,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,0
32550,43,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,0
32551,32,Private,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,0
32552,43,Private,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,0
32553,32,Private,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,0
32554,53,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
32555,22,Private,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,0
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [48]:
x_data = census.drop("income_bracket",axis=1)
labels = census["income_bracket"]

In [49]:
x_data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [50]:
labels.head()

0    0
1    0
2    0
3    0
4    0
Name: income_bracket, dtype: int64

### Perform a Train Test Split on the Data

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train, X_test, y_train, y_test = train_test_split(
...     x_data, labels, test_size=0.30, random_state=101)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [54]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [53]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [66]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender" ,["Female" , "Male"])
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass" , hash_bucket_size =1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education" , 1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", 1000) 
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", 1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", 1000)
race = tf.feature_column.categorical_column_with_hash_bucket("race", 1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", 1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [67]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [68]:
feat_cols = [gender, workclass, education, marital_status, occupation,
             relationship, race, native_country, age, education_num, capital_gain, capital_loss, hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [69]:
input_func = tf.estimator.inputs.pandas_input_fn(x = X_train, y = y_train, 
                                                batch_size = 10, num_epochs = 1000,
                                                shuffle = True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [70]:
model = tf.estimator.LinearClassifier(feature_columns= feat_cols , n_classes= 2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpq35ml1zm
INFO:tensorflow:Using config: {'_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_tf_random_seed': 1, '_model_dir': '/tmp/tmpq35ml1zm', '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_log_step_count_steps': 100, '_session_config': None, '_save_summary_steps': 100}

** Train your model on the data, for at least 5000 steps. **

In [71]:
model.train(input_fn= input_func, steps= 5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpq35ml1zm/model.ckpt.
INFO:tensorflow:step = 1, loss = 6.931472
INFO:tensorflow:global_step/sec: 184.764
INFO:tensorflow:step = 101, loss = 7.3420105 (0.545 sec)
INFO:tensorflow:global_step/sec: 226.577
INFO:tensorflow:step = 201, loss = 410.3995 (0.439 sec)
INFO:tensorflow:global_step/sec: 228.634
INFO:tensorflow:step = 301, loss = 5.2338576 (0.440 sec)
INFO:tensorflow:global_step/sec: 186.957
INFO:tensorflow:step = 401, loss = 0.72883433 (0.532 sec)
INFO:tensorflow:global_step/sec: 202.397
INFO:tensorflow:step = 501, loss = 25.169073 (0.494 sec)
INFO:tensorflow:global_step/sec: 190.49
INFO:tensorflow:step = 601, loss = 3.0370054 (0.528 sec)
INFO:tensorflow:global_step/sec: 227.625
INFO:tensorflow:step = 701, loss = 5.6328306 (0.439 sec)
INFO:tensorflow:global_step/sec: 232.486
INFO:tensorflow:step = 801, loss = 8.849693 (0.430 sec)
INFO:tensorflow:global_step/sec: 219.89
INFO:tensorflow:step = 901, loss = 13.416202 (0.455 sec)
INFO:tensorflow:global_step/sec: 210.197
INFO:tensorflow:step = 1001, loss = 4.0238247 (0.473 sec)
INFO:tensorflow:global_step/sec: 184.302
INFO:tensorflow:step = 1101, loss = 11.925531 (0.545 sec)
INFO:tensorflow:global_step/sec: 194.115
INFO:tensorflow:step = 1201, loss = 1.1837127 (0.512 sec)
INFO:tensorflow:global_step/sec: 223.942
INFO:tensorflow:step = 1301, loss = 0.34827912 (0.447 sec)
INFO:tensorflow:global_step/sec: 183.784
INFO:tensorflow:step = 1401, loss = 3.732895 (0.549 sec)
INFO:tensorflow:global_step/sec: 206.738
INFO:tensorflow:step = 1501, loss = 9.76108 (0.479 sec)
INFO:tensorflow:global_step/sec: 228.206
INFO:tensorflow:step = 1601, loss = 4.074998 (0.438 sec)
INFO:tensorflow:global_step/sec: 224.67
INFO:tensorflow:step = 1701, loss = 6.359437 (0.445 sec)
INFO:tensorflow:global_step/sec: 194.711
INFO:tensorflow:step = 1801, loss = 1.0449152 (0.514 sec)
INFO:tensorflow:global_step/sec: 217.919
INFO:tensorflow:step = 1901, loss = 4.9491377 (0.463 sec)
INFO:tensorflow:global_step/sec: 196.206
INFO:tensorflow:step = 2001, loss = 3.7567854 (0.513 sec)
INFO:tensorflow:global_step/sec: 215.751
INFO:tensorflow:step = 2101, loss = 6.6993628 (0.456 sec)
INFO:tensorflow:global_step/sec: 243.842
INFO:tensorflow:step = 2201, loss = 1.5914941 (0.413 sec)
INFO:tensorflow:global_step/sec: 228.652
INFO:tensorflow:step = 2301, loss = 5.6894717 (0.434 sec)
INFO:tensorflow:global_step/sec: 196.621
INFO:tensorflow:step = 2401, loss = 7.380393 (0.512 sec)
INFO:tensorflow:global_step/sec: 206.385
INFO:tensorflow:step = 2501, loss = 269.78232 (0.485 sec)
INFO:tensorflow:global_step/sec: 155.382
INFO:tensorflow:step = 2601, loss = 2.3987558 (0.641 sec)
INFO:tensorflow:global_step/sec: 163.851
INFO:tensorflow:step = 2701, loss = 3.5064135 (0.610 sec)
INFO:tensorflow:global_step/sec: 221.294
INFO:tensorflow:step = 2801, loss = 2.8915215 (0.452 sec)
INFO:tensorflow:global_step/sec: 194.725
INFO:tensorflow:step = 2901, loss = 8.49423 (0.514 sec)
INFO:tensorflow:global_step/sec: 225.472
INFO:tensorflow:step = 3001, loss = 320.99423 (0.443 sec)
INFO:tensorflow:global_step/sec: 220.866
INFO:tensorflow:step = 3101, loss = 1.9097648 (0.453 sec)
INFO:tensorflow:global_step/sec: 227.228
INFO:tensorflow:step = 3201, loss = 7.3262963 (0.443 sec)
INFO:tensorflow:global_step/sec: 222.669
INFO:tensorflow:step = 3301, loss = 4.7856836 (0.446 sec)
INFO:tensorflow:global_step/sec: 214.083
INFO:tensorflow:step = 3401, loss = 3.811862 (0.470 sec)
INFO:tensorflow:global_step/sec: 221.953
INFO:tensorflow:step = 3501, loss = 6.4611015 (0.450 sec)
INFO:tensorflow:global_step/sec: 225.646
INFO:tensorflow:step = 3601, loss = 42.462803 (0.441 sec)
INFO:tensorflow:global_step/sec: 234.536
INFO:tensorflow:step = 3701, loss = 7.607449 (0.429 sec)
INFO:tensorflow:global_step/sec: 224.147
INFO:tensorflow:step = 3801, loss = 8.430015 (0.444 sec)
INFO:tensorflow:global_step/sec: 220.782
INFO:tensorflow:step = 3901, loss = 5.701338 (0.456 sec)
INFO:tensorflow:global_step/sec: 211.928
INFO:tensorflow:step = 4001, loss = 0.46275887 (0.469 sec)
INFO:tensorflow:global_step/sec: 234.688
INFO:tensorflow:step = 4101, loss = 0.066349536 (0.426 sec)
INFO:tensorflow:global_step/sec: 227.091
INFO:tensorflow:step = 4201, loss = 1.7600166 (0.440 sec)
INFO:tensorflow:global_step/sec: 229.578
INFO:tensorflow:step = 4301, loss = 2.142101 (0.436 sec)
INFO:tensorflow:global_step/sec: 225.068
INFO:tensorflow:step = 4401, loss = 2.4368184 (0.444 sec)
INFO:tensorflow:global_step/sec: 211.976
INFO:tensorflow:step = 4501, loss = 4.159573 (0.475 sec)
INFO:tensorflow:global_step/sec: 224.539
INFO:tensorflow:step = 4601, loss = 38.603954 (0.445 sec)
INFO:tensorflow:global_step/sec: 223.739
INFO:tensorflow:step = 4701, loss = 74.615685 (0.445 sec)
INFO:tensorflow:global_step/sec: 232.841
INFO:tensorflow:step = 4801, loss = 4.1289635 (0.429 sec)
INFO:tensorflow:global_step/sec: 225.825
INFO:tensorflow:step = 4901, loss = 3.9664283 (0.443 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /tmp/tmpq35ml1zm/model.ckpt.
INFO:tensorflow:Loss for final step: 1.3846738.

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\Marcial\AppData\Local\Temp\tmpyyyqnxgv\model.ckpt.
INFO:tensorflow:step = 1, loss = 69.3147
INFO:tensorflow:global_step/sec: 96.9254
INFO:tensorflow:step = 101, loss = 111.492 (1.033 sec)
INFO:tensorflow:global_step/sec: 105.482
INFO:tensorflow:step = 201, loss = 86.7846 (0.948 sec)
INFO:tensorflow:global_step/sec: 104.543
INFO:tensorflow:step = 301, loss = 42.916 (0.957 sec)
INFO:tensorflow:global_step/sec: 104.051
INFO:tensorflow:step = 401, loss = 395.305 (0.961 sec)
INFO:tensorflow:global_step/sec: 103.836
INFO:tensorflow:step = 501, loss = 106.833 (0.963 sec)
INFO:tensorflow:global_step/sec: 103.406
INFO:tensorflow:step = 601, loss = 308.781 (0.967 sec)
INFO:tensorflow:global_step/sec: 103.19
INFO:tensorflow:step = 701, loss = 151.164 (0.969 sec)
INFO:tensorflow:global_step/sec: 102.606
INFO:tensorflow:step = 801, loss = 254.651 (0.975 sec)
INFO:tensorflow:global_step/sec: 104.324
INFO:tensorflow:step = 901, loss = 88.3666 (0.959 sec)
INFO:tensorflow:global_step/sec: 104.488
INFO:tensorflow:step = 1001, loss = 31.7097 (0.957 sec)
INFO:tensorflow:global_step/sec: 103.138
INFO:tensorflow:step = 1101, loss = 409.453 (0.970 sec)
INFO:tensorflow:global_step/sec: 102.448
INFO:tensorflow:step = 1201, loss = 170.47 (0.976 sec)
INFO:tensorflow:global_step/sec: 103.189
INFO:tensorflow:step = 1301, loss = 83.8109 (0.969 sec)
INFO:tensorflow:global_step/sec: 103.084
INFO:tensorflow:step = 1401, loss = 42.0138 (0.970 sec)
INFO:tensorflow:global_step/sec: 103.835
INFO:tensorflow:step = 1501, loss = 157.388 (0.963 sec)
INFO:tensorflow:global_step/sec: 102.765
INFO:tensorflow:step = 1601, loss = 449.153 (0.973 sec)
INFO:tensorflow:global_step/sec: 105.149
INFO:tensorflow:step = 1701, loss = 44.765 (0.951 sec)
INFO:tensorflow:global_step/sec: 104.215
INFO:tensorflow:step = 1801, loss = 168.323 (0.960 sec)
INFO:tensorflow:global_step/sec: 103.031
INFO:tensorflow:step = 1901, loss = 75.7545 (0.971 sec)
INFO:tensorflow:global_step/sec: 104.984
INFO:tensorflow:step = 2001, loss = 197.694 (0.953 sec)
INFO:tensorflow:global_step/sec: 102.766
INFO:tensorflow:step = 2101, loss = 197.514 (0.973 sec)
INFO:tensorflow:global_step/sec: 101.047
INFO:tensorflow:step = 2201, loss = 94.6208 (0.990 sec)
INFO:tensorflow:global_step/sec: 103.835
INFO:tensorflow:step = 2301, loss = 214.858 (0.963 sec)
INFO:tensorflow:global_step/sec: 105.204
INFO:tensorflow:step = 2401, loss = 31.8486 (0.951 sec)
INFO:tensorflow:global_step/sec: 102.134
INFO:tensorflow:step = 2501, loss = 99.127 (0.979 sec)
INFO:tensorflow:global_step/sec: 102.661
INFO:tensorflow:step = 2601, loss = 31.7933 (0.974 sec)
INFO:tensorflow:global_step/sec: 102.293
INFO:tensorflow:step = 2701, loss = 86.2802 (0.978 sec)
INFO:tensorflow:global_step/sec: 104.488
INFO:tensorflow:step = 2801, loss = 70.7707 (0.957 sec)
INFO:tensorflow:global_step/sec: 102.03
INFO:tensorflow:step = 2901, loss = 56.5935 (0.980 sec)
INFO:tensorflow:global_step/sec: 103.434
INFO:tensorflow:step = 3001, loss = 224.287 (0.967 sec)
INFO:tensorflow:global_step/sec: 103.997
INFO:tensorflow:step = 3101, loss = 54.2692 (0.962 sec)
INFO:tensorflow:global_step/sec: 104.269
INFO:tensorflow:step = 3201, loss = 29.8634 (0.959 sec)
INFO:tensorflow:global_step/sec: 103.512
INFO:tensorflow:step = 3301, loss = 39.41 (0.966 sec)
INFO:tensorflow:global_step/sec: 104.597
INFO:tensorflow:step = 3401, loss = 299.747 (0.957 sec)
INFO:tensorflow:global_step/sec: 104.488
INFO:tensorflow:step = 3501, loss = 163.921 (0.957 sec)
INFO:tensorflow:global_step/sec: 103.565
INFO:tensorflow:step = 3601, loss = 76.9854 (0.966 sec)
INFO:tensorflow:global_step/sec: 103.888
INFO:tensorflow:step = 3701, loss = 70.6709 (0.963 sec)
INFO:tensorflow:global_step/sec: 102.345
INFO:tensorflow:step = 3801, loss = 50.6713 (0.977 sec)
INFO:tensorflow:global_step/sec: 104.27
INFO:tensorflow:step = 3901, loss = 36.4178 (0.959 sec)
INFO:tensorflow:global_step/sec: 102.907
INFO:tensorflow:step = 4001, loss = 26.5719 (0.972 sec)
INFO:tensorflow:global_step/sec: 103.351
INFO:tensorflow:step = 4101, loss = 45.6485 (0.968 sec)
INFO:tensorflow:global_step/sec: 104.602
INFO:tensorflow:step = 4201, loss = 34.9826 (0.956 sec)
INFO:tensorflow:global_step/sec: 103.727
INFO:tensorflow:step = 4301, loss = 403.137 (0.964 sec)
INFO:tensorflow:global_step/sec: 102.765
INFO:tensorflow:step = 4401, loss = 49.5894 (0.973 sec)
INFO:tensorflow:global_step/sec: 103.619
INFO:tensorflow:step = 4501, loss = 67.7926 (0.965 sec)
INFO:tensorflow:global_step/sec: 103.673
INFO:tensorflow:step = 4601, loss = 68.8307 (0.965 sec)
INFO:tensorflow:global_step/sec: 102.977
INFO:tensorflow:step = 4701, loss = 49.4603 (0.971 sec)
INFO:tensorflow:global_step/sec: 103.137
INFO:tensorflow:step = 4801, loss = 49.6449 (0.970 sec)
INFO:tensorflow:global_step/sec: 103.781
INFO:tensorflow:step = 4901, loss = 31.02 (0.963 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\Marcial\AppData\Local\Temp\tmpyyyqnxgv\model.ckpt.
INFO:tensorflow:Loss for final step: 68.2374.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [73]:
pred_input_func = tf.estimator.inputs.pandas_input_fn(
        x = X_test,
        batch_size = 10,
        num_epochs = 1,
        shuffle = False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [75]:
predictions = model.predict(pred_input_func)

In [76]:
preds = list(predictions)

INFO:tensorflow:Restoring parameters from /tmp/tmpq35ml1zm/model.ckpt-5000

In [77]:
preds[0]

{'class_ids': array([0]),
 'classes': array([b'0'], dtype=object),
 'logistic': array([0.08580768], dtype=float32),
 'logits': array([-2.3659325], dtype=float32),
 'probabilities': array([0.9141924 , 0.08580768], dtype=float32)}

** Each item in your list will look like this: **

{'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'logistic': array([ 0.21327116], dtype=float32),
 'logits': array([-1.30531931], dtype=float32),
 'probabilities': array([ 0.78672886,  0.21327116], dtype=float32)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [80]:
cls_ids = [l['class_ids'][0] for l in preds]

In [81]:
cls_ids

[0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [82]:
from sklearn.metrics import classification_report

In [83]:
print(classification_report(y_test,cls_ids))

              precision    recall  f1-score   support

           0       0.86      0.94      0.90      7436
           1       0.73      0.52      0.61      2333

   micro avg       0.84      0.84      0.84      9769
   macro avg       0.80      0.73      0.75      9769
weighted avg       0.83      0.84      0.83      9769

             precision    recall  f1-score   support

          0       0.88      0.92      0.90      7436
          1       0.70      0.59      0.64      2333

avg / total       0.84      0.84      0.84      9769

# Great Job!